body {
    font-family: Sporting Grotesque;
    margin: 16px;
    font-size: 32px;
    color: #003844;
    background-image: repeating-linear-gradient(45deg, #fff090, rgb(252, 199, 244));
    background-size: cover;
    background-attachment: fixed;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

h1 {
    font-size: 128px;
    margin-left: 72px;
}

nav {
    margin: 16px 64px 0 0; 
}

nav a {
    color: #003844;
    padding: 32px;
    text-decoration: none;
}

a:hover {
    color: rgb(156, 255, 184);
    text-shadow: 5px 5px 5px #d9bcf8;
}

p {
    display: flex;
    flex-direction: row;
    text-align: center;
    width: 80%;
}

#main-text {
    margin: 128px 0  0 164px;
}

#bio-head a {
    font-size: 40px;
    text-decoration:none;
    color: #003844;
}

#bio-head a:hover {
    color:rgb(156, 255, 184);
    text-shadow: 5px 5px 5px #d9bcf8;
}

#bio-head nav a {
    font-size: 32px;
}

#bio-label {
    display: flex;
    justify-content: center;
    margin-top: 81px;
    margin-bottom: 32px;
    color: rgb(156, 255, 184);
    font-size: 84px;
    text-shadow: 5px 5px 5px #d9bcf8;
}

#bio-nav :first-child {
    color:rgb(156, 255, 184);
}

.about-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 6% 8% 0 8%;
}

#face-picture {
    width: 30%;
    height: 30%;
    border-radius: 8%;
    box-shadow: 20px 20px 5px rgb(156, 255, 184);
}

#bio-text {
    line-height: 2;
    font-size: 24px;
    margin-left: 128px;
    text-align: left;
}
