@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&family=Yeseva+One&display=swap');

body {
    background-color: #FFFEF9;
    font-family: 'Yeseva One';
    color: #DD4A48;
    font-size: 24px;
    letter-spacing: 0.095em;
    margin: 44px auto;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    font-size: 32px;
}

nav a {
    text-decoration: none;
    color: #DD4A48;
}

nav a:hover {
    letter-spacing: 0.1em;
    transition-timing-function: ease-in-out;
    color: #8D3333;
    transition: all 1s;
}

h1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 200px 0 200px;
    font-size: 128px;
}

h3 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0 284px;
    letter-spacing: 0.065em;
    text-align: center;
}

#current-selection {
    color: #8D3333
}

#bio-header, #experience-header, #portfolio-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#bio-header h1, #experience-header h1, #portfolio-header h1 {
    display: flex;
    flex-direction: row;
    justify-content: left;
    font-size: 64px;
    margin: 0 0 0 77px;
}
#bio-header h1 a, #experience-header h1 a, #portfolio-header h1 a {
    color:#DD4A48;
    text-decoration: none;
}

#bio-header h1 a:hover, #experience-header h1 a:hover, #portfolio-header h1 a:hover {
    letter-spacing: 0.1em;
    transition-timing-function: ease-in-out;
    color: #8D3333;
    transition: 1s;
}

#bio-nav, #experience-nav, #portfolio-nav {
    font-size: 28px;
    display: flex;
    flex-direction: row;
    justify-content: right;
    margin: 0 0 0 0;
}

#bio-nav a, #experience-nav a, #portfolio-nav a {
    padding: 0 42px;
}

#bio-content {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 100px;
}

#portrait {
    display: flex;
    flex-direction: row;
    width: 30%;
    height: 30%;
    border-radius: 15px;
    margin-left: 180px;
}

p {
    color:#8D3333;
    letter-spacing: 0.005em;
    line-height: 1.55em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 150px;
}

h2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
#featured-head {
    margin-bottom: 64px;
}

#featured {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 28px auto;
}

#example-1, #example-2, #example-3 {
    display: flex;
    border-radius: 15px;
    flex-direction: row;
    justify-content: center;
    width: 360px;
    height: 500px;
}

.container-1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
#text-1, #text-2, #text-3 {
    font-size: 24px;
    text-align: center;
    justify-content: center;
    margin: -419px 0 0 54px;
    width: 260px;
    opacity: 0;
}

#featured .container-1:hover #example-1 {
    opacity: 0.15;
    transition: all 1s ease-in-out;
}

#featured .container-1:hover #text-1 {
    opacity: 1;
    transition: all 1s ease-in-out;
}

#featured .container-2:hover #example-2 {
    opacity: 0.25;
    transition: all 1s ease-in-out;
}

#featured .container-2:hover #text-2 {
    opacity: 1;
    transition: all s ease-in-out;
}

#featured .container-3:hover #example-3 {
    opacity: 0.25;
    transition: all 1s ease-in-out;
}

#featured .container-3:hover #text-3 {
    opacity: 1;
    transition: all 1s ease-in-out;
}

.education {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 81px 0;
}

.education li {
    list-style: none;
    color: #8D3333;
}

#project-head {
    margin-bottom: 0px;
}

#project-images {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

#project-images img {
    width: 400px;
    height: 280px;
    border-radius: 15px;
    margin: 84px 0;
}
#project-text-1, #project-text-2, #project-text-3,
#project-text-4, #project-text-5, #project-text-6 {
    font-size: 16px;
    text-align: center;
    justify-content: center;
    margin: -296px 0 0 72px;
    width: 260px;
    opacity: 0;
}

#project-images .project-container-1:hover #project-1 {
    opacity: 0.25;
    transition: all 1s ease-in-out;
}

#project-images .project-container-1:hover #project-text-1 {
    opacity: 1;
    transition: all 1s ease-in-out;
}

#project-images .project-container-2:hover #project-2 {
    opacity: 0.25;
    transition: all 1s ease-in-out;
}

#project-images .project-container-2:hover #project-text-2 {
    opacity: 1;
    transition: all 1s ease-in-out;
}

#project-images .project-container-3:hover #project-3 {
    opacity: 0.25;
    transition: all 1s ease-in-out;
}

#project-images .project-container-3:hover #project-text-3 {
    opacity: 1;
    transition: all 1s ease-in-out;
}

#project-images .project-container-4:hover #project-4 {
    opacity: 0.25;
    transition: all 1s ease-in-out;
}

#project-images .project-container-4:hover #project-text-4 {
    opacity: 1;
    transition: all 1s ease-in-out;
}

#project-images .project-container-5:hover #project-5 {
    opacity: 0.25;
    transition: all 1s ease-in-out;
}

#project-images .project-container-5:hover #project-text-5 {
    opacity: 1;
    transition: all 1s ease-in-out;
}

#project-images .project-container-6:hover #project-6 {
    opacity: 0.25;
    transition: all 1s ease-in-out;
}

#project-images .project-container-6:hover #project-text-6 {
    opacity: 1;
    transition: all 1s ease-in-out;
}

#bio-footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 14px;
    margin-top: 16px;
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 14px;
    margin-top: 104px;
}

footer a {
    color: #8D3333;
    text-decoration: none;
    padding: 16px;
}