@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&family=Yeseva+One&display=swap');

body {
    background-color: #FFFEF9;
    font-family: 'Yeseva One';
    color: #DD4A48;
    font-size: 24px;
    letter-spacing: 0.095em;
    margin: 44px auto;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    font-size: 32px;
}

nav a {
    text-decoration: none;
    color: #DD4A48;
}

nav a:hover {
    letter-spacing: 0.1em;
    transition-timing-function: ease-in-out;
    color: #8D3333;
    transition: 1s;
}

h1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 254px 0 254px;
    font-size: 128px;
}

h3 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0 284px;
    letter-spacing: 0.065em;
    text-align: center;
}

#bio-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#bio-header h1 {
    display: flex;
    flex-direction: row;
    justify-content: left;
    font-size: 64px;
    margin: 0 0 0 100px;
}
#bio-header h1 a {
    color:#DD4A48;
    text-decoration: none;
}

#bio-header h1 a:hover {
    letter-spacing: 0.1em;
    transition-timing-function: ease-in-out;
    color: #8D3333;
    transition: 1s;
}

#bio-nav {
    font-size: 28px;
    display: flex;
    flex-direction: row;
    justify-content: right;
    margin: 0 0 0 0;
}

#bio-nav a {
    padding: 0 64px;
}

#bio-content {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 100px 80px;
}

img {
    display: flex;
    flex-direction: row;
    width: 30%;
    height: 30%;
    border-radius: 15px;
    margin-left: 180px;
}

p {
    color:#8D3333;
    letter-spacing: 0.005em;
    line-height: 1.55em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 80px;
}